/** @format */

body {
	margin: 20px;
	background: radial-gradient(
		circle at 10% 20%,
		rgb(251, 222, 238) 15.6%,
		rgb(206, 201, 226) 80.3%
	);
}
p {
	padding: 20px 0;
}
li {
	display: block;
	list-style-type: disc;
}
ul {
	padding: 0 0 0 0;
}
h4 {
	padding: 10px;
	opacity: 0.9;
}
img {
	vertical-align: bottom;
}

#current-city-info {
	text-align: left;
}
.weather-forecast {
	line-height: 30px;
}

.container {
	font-family: "Roboto Slab", serif;
	box-sizing: border-box;
	width: 100%;
	max-width: 720px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
#forecast {
	text-align: center;
}
.weather-app {
	color: rgb(255, 255, 255);
}
.weather-app-wrapper {
	border: 1px solid linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
	max-width: 600%;
	padding: 50px;
	border-radius: 15px;
	background: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

.weather-forecast .col-2 {
	border-radius: 16px;
	background: radial-gradient(275px at -14% 125%, rgb(255, 255, 255) 0%, rgb(218, 134, 182) 100.7%);
}

#city-form {
	margin: 20px 20px 15px 0;
	text-align: left;
}

#temperature {
	font-size: 64px;
	font-weight: 400;
	line-height: 1;
}
.unit {
	position: relative;
	top: -34px;
}
.float-left {
	display: inline;
}
.icon {
	font-size: 20px;
}
.weather-icon {
	height: 64px;
	width: 64px;
	margin-right: 10px;
}
.github-address {
	margin: 10px;
}
.github-link {
	text-decoration: none;
}
.current-temp .active {
	color: rgb(255, 255, 255);
	cursor: default;
	text-decoration: none;
}
.current-temp .active:hover {
	text-decoration: none;
}
.weather-temp-min {
	opacity: 0.6;
	margin: 2px;
}
.weather-temp-max {
	margin: 2px;
}

#celsius-link {
	text-decoration: none;
}
#fahrenheit-link {
	text-decoration: none;
}
.current-temp .col-6 {
	padding: 0 25px 15px 25px;
}
